Source: ros-iron-tl-expected
Section: misc
Priority: optional
Maintainer: Tyler Weaver <maybe@tylerjw.dev>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ros-workspace
Homepage: https://github.com/TartanLlama/expected
Standards-Version: 3.9.2

Package: ros-iron-tl-expected
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-ros-workspace
Description: C++11/14/17 std::expected with functional-style extensions
