Source: ros-humble-tcb-span
Section: misc
Priority: optional
Maintainer: Tyler Weaver <maybe@tylerjw.dev>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ros-workspace
Homepage: https://github.com/tcbrindle/span
Standards-Version: 3.9.2

Package: ros-humble-tcb-span
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ros-workspace
Description: Implementation of C++20's std::span
